<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class= "about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto vel, maxime quisquam labore minus? Molestias minus aspernatur sequi, consequatur explicabo tempora, quibusdam expedita repellendus et autem possimus vero minima?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit et quae enim in a nihil corrupti qui eligendi tempora dicta sed illum quod temporibus, minima ex nemo non repellat ab.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa exercitationem laborum vel consectetur obcaecati repellat minima itaque pariatur eveniet, repellendus impedit, quasi odit dolorum? Et, amet alias. Repudiandae, corporis magni?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>